@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

:root {
  --color1: #090909;
  --color2: #212121;
  --color3: #181818;
  --color4: #6e6e6e;
  --color5: #6db95a;
  --color6: #dd5e5e;
  --white: #ffffff;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  background: var(--color1);
  color: var(--white);
}

button {
  cursor: pointer;
  border: none;
  background: var(--color2);
  font-size: 16px;
  padding: 12px;
  border-radius: 8px;
  color: var(--white);
  transition: 0.2s all ease;
}

button:hover {
  background: var(--white);
  color: var(--color3);
}

input,
textarea {
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  background: var(--color2);
  border-radius: 8px;
  color: var(--white);
  outline: none;
}

input:disabled,
textarea:disabled {
  opacity: 0.5;
}

input:focus,
textarea:focus {
  background: var(--color3);
  outline: none;
}
button:focus {
  outline: none;
}
input::placeholder,
textarea::placeholder {
  color: var(--color4);
}
