@import "./src/styles/theme";

#___SHIFRONIM_WRAPPER___ {
  position: fixed;
  top: 0;
  left: 50%;
  z-index: 9999;
  transform: translateX(-50%);
  background-color: var(--SHIFRONIM_COLOR1);
  border-radius: 8px;
  padding: 12px;
  transition: 0.2s all ease;

  & * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  & *::part {
    font-family: "Montserrat", sans-serif;
  }

  &::part(shifronim-content-div) {
    display: flex;
    flex-direction: column;
  }

  &::part(shifronim-content-textarea) {
    margin-bottom: 8px;
    width: 400px;
    height: 100px;
    background: var(--SHIFRONIM_COLOR2);
    color: var(--SHIFRONIM_WHITE);
    border-radius: 8px;
    border: none;
    resize: none;
    padding: 12px;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    overflow: auto;
    transition: 0.2s all ease;

    &:focus {
      background: var(--SHIFRONIM_COLOR3);
      outline: none;
    }
  }

  &::part(hide-textarea-wrapper) {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    justify-content: center;
  }

  &::part(hide-textarea-wrapper-text) {
    font-weight: 600;
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    position: absolute;
    color: var(--SHIFRONIM_WHITE);
    line-height: 1;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
  }

  &::part(hide-textarea-btn) {
    padding: 0;
    border: none;
    background: var(--SHIFRONIM_COLOR2);
    color: var(--SHIFRONIM_WHITE);
    cursor: pointer;
    border-radius: 50%;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 28px;
    height: 28px;
    outline: none;
    transition: 0.2s all ease;

    &:focus {
      outline: none;
    }

    &:hover {
      box-shadow: 0 0 3px var(--SHIFRONIM_COLOR5);
    }
  }

  &::part(hide-textarea-btn-svg) {
    width: 22px !important;
    height: 22px !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &::part(shifronim-content-button) {
    background: var(--SHIFRONIM_COLOR2);
    color: var(--SHIFRONIM_WHITE);
    border: none;
    cursor: pointer;
    padding: 12px 24px;
    border-radius: 8px;
    transition: 0.2s all ease;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 600;

    &:hover {
      background: var(--SHIFRONIM_WHITE);
      color: var(--SHIFRONIM_COLOR2);
    }
  }

  &.___SHIFRONIM_HIDDEN___ {
    padding: 6px;
    background-color: transparent;

    &::part(hide-textarea-btn) {
      margin: 0;
      box-shadow: 0 0 3px var(--SHIFRONIM_COLOR5);
    }

    &::part(hide-textarea-wrapper-text) {
      display: none;
    }

    &::part(hide-textarea-btn-svg) {
      transform: translate(-50%, -50%) rotate(180deg);
    }

    &::part(shifronim-content-textarea) {
      opacity: 0;
      width: unset;
      height: 0;
      padding: 0;
      margin: 0;
    }

    &::part(shifronim-content-button) {
      opacity: 0;
      padding: 0;
      font-size: 0;
    }

    &::part(hide-textarea-btn-svg) {
      margin-bottom: 2px;
    }
  }
}

.SHIFRONIM_ENCRYPTED_MESSAGE {
  background-color: var(--SHIFRONIM_COLOR5) !important;
  color: var(--SHIFRONIM_COLOR1) !important;
  padding: 0px 4px;
}
